.content{
    padding-left: 40px;
    padding-top: 30px;
}

h1{
    color: rgb(43, 43, 43);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.titulo{
    padding-top: 50px;
    padding-left: 40px; 
    text-align: center;
}

button{
    background-color:  rgb(43, 43, 43);
    border: none;
}